@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    background-color: #fff;
}

h1 {
    @apply font-bold leading-snug text-4xl md:text-5xl lg:text-7xl tracking-tight
}

h2 {
    @apply font-bold leading-snug text-2xl md:text-3xl lg:text-5xl tracking-tight
}

.button {
    @apply w-5/6 md:w-1/2 mx-auto bg-black text-white my-12 p-5 text-center cursor-pointer
}

.spacer {
    @apply m-auto my-32 md:my-48 px-6
}



.background-left {
  position: relative;
}

.background-left::before {
  position: absolute;
  top: 5%;
  left: 10%;
  z-index: -1;
  content: '';
  background: #222;
  opacity: 5%;
  width: 80%;
  height: 120%;
  border-radius: 0.5rem;
}

@media (max-width: 768px) {
  .background-left::before {
    display: none;
  }
}

.background-right {
  position: relative;
}

.background-right::before {
  position: absolute;
  top: 5%;
  left: 0;
  z-index: -1;
  content: '';
  background: #222;
  opacity: 5%;
  width: 80%;
  height: 100%;
  border-radius: 0.5rem;
}

@media (max-width: 768px) {
  .background-right::before {
    display: none;
  }
}